<h1 class="text-3xl font-bold text-white text-center">{{ title }}</h1>


<div class=" flex justify-center">
  <input type="text" #newTodo placeholder="please enter your todo  here..." />
  <button
    class="py-2 px-4 ml-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-400"
    (click)="add(newTodo.value);newTodo.value='';"> Add</button>

</div>
<div class="ml-10	">
  <ul class="list-none  text-white " *ngFor="let todo of todos">
    <li> {{todo.label}}
      {{todo.done ? '&#10003;' : '&#10005;'}}
      <button
        class="py-2 px-4 mt-4 mb-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-800"
        (click)="deleteTodo(todo)"> delete</button>
      <button
        class="py-2 px-4  ml-2 mt-4 mb-4  border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600"
        (click)="toggle(todo)">toggle</button>
    </li>
    <!--  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->


  </ul>
</div>
<router-outlet></router-outlet>
<exchange-rates></exchange-rates>
